.pte2_xs{ background:url("pte2_xs.png") top left no-repeat; }
.spride_Comp_1_00001_r1_c1{ width:407px; height:115px; background-position:0 0; }
.spride_Comp_1_00001_r1_c1_1{ width:407px; height:115px; background-position:-407px 0; }
.spride_Comp_1_00001_r1_c1_2{ width:407px; height:115px; background-position:-814px 0; }
.spride_Comp_1_00001_r1_c1_3{ width:407px; height:115px; background-position:-1221px 0; }
.spride_Comp_1_00001_r1_c1_4{ width:407px; height:115px; background-position:-1628px 0; }
.spride_Comp_1_00001_r1_c1_5{ width:407px; height:115px; background-position:-2035px 0; }
.spride_Comp_1_00001_r1_c1_6{ width:407px; height:115px; background-position:-2442px 0; }
.spride_Comp_1_00001_r1_c1_7{ width:407px; height:115px; background-position:-2849px 0; }
.spride_Comp_1_00001_r1_c1_8{ width:407px; height:115px; background-position:-3256px 0; }
.spride_Comp_1_00001_r1_c1_9{ width:407px; height:115px; background-position:-3663px 0; }
.spride_Comp_1_00001_r1_c1_10{ width:407px; height:115px; background-position:-4070px 0; }
.spride_Comp_1_00001_r1_c1_11{ width:407px; height:115px; background-position:-4477px 0; }
.spride_Comp_1_00001_r1_c1_12{ width:407px; height:115px; background-position:-4884px 0; }
.spride_Comp_1_00001_r1_c1_13{ width:407px; height:115px; background-position:-5291px 0; }
.spride_Comp_1_00001_r1_c1_14{ width:407px; height:115px; background-position:-5698px 0; }
.spride_Comp_1_00001_r1_c1_15{ width:407px; height:115px; background-position:-6105px 0; }
.spride_Comp_1_00001_r1_c1_16{ width:407px; height:115px; background-position:-6512px 0; }
.spride_Comp_1_00001_r1_c1_17{ width:407px; height:115px; background-position:-6919px 0; }
.spride_Comp_1_00001_r1_c1_18{ width:407px; height:115px; background-position:-7326px 0; }
.spride_Comp_1_00001_r1_c1_19{ width:407px; height:115px; background-position:-7733px 0; }
.spride_Comp_1_00001_r1_c1_20{ width:407px; height:115px; background-position:-8140px 0; }
.spride_Comp_1_00001_r1_c1_21{ width:407px; height:115px; background-position:-8547px 0; }
.spride_Comp_1_00001_r1_c1_22{ width:407px; height:115px; background-position:-8954px 0; }
.spride_Comp_1_00001_r1_c1_23{ width:407px; height:115px; background-position:-9361px 0; }
.spride_Comp_1_00001_r1_c1_24{ width:407px; height:115px; background-position:-9768px 0; }
.spride_Comp_1_00001_r1_c1_25{ width:407px; height:115px; background-position:-10175px 0; }
.spride_Comp_1_00001_r1_c1_26{ width:407px; height:115px; background-position:-10582px 0; }
.spride_Comp_1_00001_r1_c1_27{ width:407px; height:115px; background-position:-10989px 0; }
.spride_Comp_1_00001_r1_c1_28{ width:407px; height:115px; background-position:-11396px 0; }
.spride_Comp_1_00001_r1_c1_29{ width:407px; height:115px; background-position:-11803px 0; }
